body {
    margin: 10%;
}

#input-div {
    margin: 30px;
    padding: 10px;
    border: black;
    border-style: solid;
    border-width: 2px;
}

#output-div {
    margin: 30px;
    padding: 10px;
    border: black;
    border-style: solid;
    border-width: 2px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}